
@import url("https://fonts.cdnfonts.com/css/blanquotey");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  font-family: "Blanquotey", sans-serif;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
}


#textContiner{
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
}